<div class="top-menu">
    <img src="icons/I_C_Banana.png" /><span class="popover-header"> @Bananas </span>
    <AddBananas BananaAdded="AddBananas" />
</div>


@code {
    [Parameter]
    public int Bananas { get; set; }
    public void AddBananas (int value)
    {
        Bananas += value;
    }
}
